@tailwind base;
@tailwind components;
@tailwind utilities;

.container-fluid {
  background-color: black;
  padding-left: 0px;
  padding-right: 0px;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}
